@{
    ViewData["Title"] = "Welcome to Music Site, the site to review music in";
}

<div class="text-center">
    <h1 class="display-4">Music Site</h1>
    <p>The best site to review music on internet.</p>
</div>
